* {
    margin: 0;
    text-align: center;
}

body {
    font-size: 14px;
    color: #000000;
    background-color: #bfefff;
    width: 1900px;
    
}

table {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    background-color: skyblue;
    color: black;
    border: 1px solid skyblue;
    box-shadow: 0 0 2px #000;
    width: 820px;
    position: relative;
}

td {
   padding: 7px 10px 10px 266px; 
   text-align: center; 
   padding-right: 0px; 
      font-size: 20px; 
}

tr {
    background-color: lightblue;
    padding-right: 550px;
}    
    
tr:hover {
    background-color: blue;
    width: 1250px;
}

.nameslist {
     text-align: center; 
}
    
header {
    margin: -10px auto;
    background-color: white;
    border: 1px solid skyblue;
    box-shadow: 0 0 2px #000;
    text-align: center; 
    width: 840px;
}

.header img, .headings {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 30px;
    padding: 20px;
}

.logo, .headings {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

h1 {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}

h3, h4, h5, h6 {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}


.hero {
    margin: 100px auto;
    background-color: skyblue;
    border: 1px solid skyblue;
    padding: 20px;
    box-shadow: 0 0 2px #000;
    text-align: center; 
    width: 800px;
}

.motto {
    margin: 0px;
    margin-top: -80px;
    font-style: italic;
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    color: #454545;
}

  
.active {
    background-color: blue;
    color: cadetblue;  
}

.banner1 {
    padding: 10px 220px 10px 220px; 
}


.townname {
    margin: 40px auto;
}

.main-article {
    margin: 20px auto;
    background-color: white;
    border: 1px solid skyblue;
    box-shadow: 0 0 2px #000;
    text-align: center; 
    width: 840px;
}


nav  {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    background-color: skyblue;
    border: 1px solid skyblue;
    box-shadow: 0 0 2px #000;
    width: 841px;
  
}

nav anchor selected {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    color: #454545;
}

nav anchor unselected {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    color: #454545;
}

