* {
    margin: 0;
    text-align: center;
    font-family: 'helvetica-neue', helvetica, arial, sans-serif;
    box-sizing: border-box;
  }
    
    body {
      width: 853px;
      margin: 0 auto;
      text-align: center;
    }
    
    h1, h2, h3 {
      font-family: Helvetica, sans-serif;
    }
    
    h1 {
      font-size: 24px;
      text-align: center;
      margin-top: 10px;
    }

    h2 {
      font-size: 15px;
      text-align: center;
      margin-top: 10px;
    }

    h3 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      max-width: 750px;
      background-color: #d9d9d9;
      color: black;     
      border: 1px solid #8696ad;
      padding: 10px;
      align-content: center; 
      margin-left: 60px;
    }

    h4 {
      font-size: 27px;
      text-align: center;
      margin-top: 20px;
      color: #8696ad;
    }

    h5 {
      font-size: 21px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 55px;
      max-width: 750px;
      background-color: #d9d9d9;
      color: #122b01;     
      border: 3px solid #8696ad;
      padding: 10px;
      align-content: center; 
    }

    h6 {
      font-size: 28px;
      text-align: center;
      margin-top: 30px;
      color: #5C708C;
    }
      
    header {
      background-color: white;
    }
    
    .list {
      font-weight: bold;
    }
  
    section {
      width: 100%;
      text-align: center;
      font-weight: bold;
    }
    
    section article {
      width: 33%;
      float: left;
    }
    
    section p {
      margin: 5px 0;
    }
    
    section ul {
      margin-top: 0;
    }
  
   
    .logo img {
     margin-top: 30px;   
     margin: 30px;
     width: 850px;
     height: 500px;
    }

    .flag {
      float: left;
      margin-left: 699px;
      max-width: 100px;
      max-height: 140px;
    }

    .uppity {
      margin-top: 20px;
      margin-bottom: 40px;
    }
   
    .img-container {
      float: left;
      width: 25%;
      padding: 5px;
    }
   
    .motto {
      font-style: italic;
      font-size: 32px; 
      padding-right: 18px;
      padding-top: 5px;
      padding-bottom: 5px;
      max-width: 894px;
      color: black;
      border: 3px solid black;
      letter-spacing: .1pc;
    }
  
    .amen {
        font-size: 21px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
        margin-left: 125px;
        max-width: 600px;
        background-color: #8696ad;
        color: #23190d;     
        border: 3px solid #23190d;
        padding: 10px;
        align-content: center; 
    }
  
    .amen2 {
      font-size: 21px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 55px;
      max-width: 750px;
      background-color: #d9d9d9;
      color: #122b01;     
      border: 3px solid #8696ad;
      padding: 10px;
      align-content: center; 
     }
  
    .amen3 {
      font-size: 21px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 55px;
      max-width: 750px;
      background-color: #d9d9d9;
      color: #122b01;     
      border: 3px solid #8696ad;
      padding: 10px;
      align-content: center; 
      text-decoration: none;
      list-style: none;
    }

    .townname {
      font-family: Helvetica, sans-serif;
      padding-top: 1px;
      text-align: center;
    }

    .navigate {
     margin-top: -1px; 
     width: 810px;
     color: white;
    }

    nav {
      text-align: center;
      display: inline-block;
      width: 854px;
      padding: 5px 5px 10px 10px;
      height: 35px;
      margin: 5px;
      margin-left: -1.5px;
      border: 3px solid #63860a;
      background-color: black; 
      color: white; 
      text-decoration: none;
    }   
    
    nav li {
     padding-right: 35px;
     padding-top: 2px;
     display: inline-block;
     color: white;
     font-size: 20px;
     text-decoration: none;    
    }
  
    a:link {
     color: #8696ad;
    }
  
    a:visited {
     color: lightgray;
    }
  
    a:hover {
     color: lightgray;
    }
  
    a:active {
     color: #d4ddac;
    }

    #bar {
     height: 35%;
     width: 80%;
    }

    #bar2 {
     height: 65%;
     width: 100%;
    }

    #bar3 {
     height: 65%;
     width: 100%;
    }

    #bar4 {
     height: 65%;
     width: 100%;
    }

    table.BarTable,th,td {
     border: 2px solid black;
     border-collapse: collapse;
     line-height: 0;
     color: white;
     max-height: 5px;
     max-width: 1200px;
     align-content: center;
     margin-left: 95px;
    }

    table.Bar2Table,th,td {
     border: none;
     border-collapse: collapse;
     line-height: 0;
     color: white;
     max-height: 5px;
     max-width: 400px;
     align-content: center;
     margin-top: 15px;
     margin-left: -10px;
    }

    table.Bar4Table,th,td {
     border: none;
     border-collapse: collapse;
     line-height: 0;
     color: white;
     max-height: 5px;
     max-width: 800px;
     align-content: center;
     margin-top: 15px;
     margin-left: -10px;
    }

    td {
     padding: 20px 5px;
     font-size: 20px;
     color: purple;
     text-align: center;
    }

    span.td { 
     display: block; 
    }

    .letssee, name {
      margin-top: 10px;
      color: black;
      background-color: #d9d9d9;
      text-align: center;
      align-content: center;
    }

    main, name {
     color: black;
    }

    footer {
     margin: 10px;
     padding: 20px;
     padding-top: 20px;
     background-color: black;
     border: 10px solid #63860a;
     content: center;
     width: 830px;
     color: white;
     font-display: none;
     letter-spacing: .2pc;
    }