* {
    margin: 0;
    text-align: center;
    font-family: 'helvetica-neue', helvetica, arial, sans-serif;
    box-sizing: border-box;
  }
    
    body {
      width: 853px;
      margin: 0 auto;
      text-align: center;
    }
    
    h1, h2 {
      font-family: Helvetica, sans-serif;
     }
    
    /* header styles */
    
    h1 {
      font-size: 24px;
      text-align: center;
    }
    
    header {
      background-color: white;
    }
       
    /* section styles */
  
    .list {
      font-weight: bold;
    }
  
    section {
      width: 100%;
      text-align: center;
      font-weight: bold;
    }
    
    section article {
      width: 33%;
      float: left;
    }
    
    section p {
      margin: 5px 0;
    }
    
    section ul {
      margin-top: 0;
    }
  
  
    h2 {
      font-size: 2.5rem;
      letter-spacing: -1px;
      margin-bottom: 10px;
    }
  
    .logo img {
     margin-top: 30px;   
     margin: 30px;
     width: 850px;
     height: 500px;
    }

    .flag {
      float: left;
      margin-left: 699px;
      max-width: 100px;
      max-height: 140px;
    }
   
    .img-container {
      float: left;
      width: 25%;
      padding: 5px;
    }
   
    .motto {
      font-style: italic;
      font-size: 32px; 
      padding-right: 18px;
      padding-top: 5px;
      padding-bottom: 5px;
      max-width: 894px;
      color: black;
      border: 3px solid black;
    }
  
  .townname {
    font-family: Helvetica, sans-serif;
    padding-top: 30px;
    text-align: center;
  }

  .navigate {
    margin-top: -1px; 
    width: 810px;
    color: white;
  }

  nav {
      text-align: center;
      display: inline-block;
      width: 854px;
      padding: 5px 5px 10px 10px;
      height: 35px;
      margin: 5px;
      margin-left: -1.5px;
      border: 1px solid;
      background-color: black; 
      color: white; 
      text-decoration: none;
  }  
    
  nav li {
    padding-right: 35px;
    padding-top: 2px;
    display: inline-block;
    color: white;
    font-size: 19px;
    text-decoration: none;    
  }
  
  a:link {
    color: #ffffff;
  }
  
  a:visited {
    color: lightgray;
  }
  
  a:hover {
    color: lightgray;
  }
  
  a:active {
    color: #d4ddac;
  }

  #bar {
    height:65%;
    width: 100%;
}

table.BarTable,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    line-height: 0;
    color: white;
    max-height: 5px;
    max-width: 900px;
    align-content: center;
    background-color:#f2f2f2;
}

td {
    padding: 20px 5px;
    font-size: 17px;
    color: white;
}

span.td { 
  display: block; 
}

.letssee, name {
  margin-top: 20px;
  color: black;
}

main, name {
  color: black;
}