* {
    margin: 0;
    text-align: center;
   
}
body {
    font-size: 16px;
    background-color: #bfefff;
    width: 900px;
    margin: auto;
}
header {
    margin: 5px auto;
    background-color: #ffffff;
    border: 1px solid skyblue;
    box-shadow: 0 0 5px #000;
    text-align: center; 
}

.header img, .headings {
    display: inline-block;
    vertical-align: auto;
    text-align: center;
    margin: 20px;
    padding: 5px;
  
}

.logo, .headings {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
   
}

.logo, .motto {
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
    position: relative;
    bottom: 30px;
    left: 50px;
    font-size: 25px;
}

.motto {
    font-size: 40px;
    margin: auto;
}
.stripe {
    background-color: #0101DF;
    width: 880px; 
    height: 35px;
    vertical-align: middle;
    padding: 10px;
}
 
nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    }

nav ul {
    list-style: none;        
    margin: 0;
    padding: 0;
    padding-top: 4px;
   }

nav li {
    display: inline;
    }

nav a:link, nav a:visited {
    padding: 3px 10px 2px 10px;
    color: #FFFFFF;
    background-color: #0101DF;
    text-decoration: none;
       }
    
nav a:hover {
    color: #FFFFFF;
    background-color: #0B0B61;
    }

.hero {
    margin: 100px auto;
    background-color: skyblue;
    border: 1px solid skyblue;
    padding: 20px;
    box-shadow: 0 0 10px #000;
    text-align: center; 
}

.townname {
    padding-top: 20px;
    padding-bottom: -55px;
    margin: 20px auto;
}

.main-article {
    margin: 20px auto;
    background-color: #bfefff;
    border: 1px solid skyblue;
    box-shadow: 0 0 10px #000;
    text-align: left; 
    padding: 10px;
    height: 180px;
}


footer {
   background-color: white;
   box-shadow: 0 0 10px #000;
}

footer h3 {
    text-align: left;
    margin: 20px;
    padding: 10px;
}